<p style="color: green"><%= notice %></p>

<h1><%= I18n.t("bank.index.title") %></h1>

<div id="banks" class="px-5 border">
  <% @banks.each do |bank| %>
    <%= render bank %>
    <p>
      <%= link_to I18n.t("bank.index.show"), bank %>
    </p>
  <% end %>
</div>

<div>
  <%= link_to I18n.t("bank.index.new"), new_bank_path %>
</div>

