<p style="color: green"><%= notice %></p>

<h1><%= I18n.t("bank.index.title") %></h1>

<div id="banks">
  <% @banks.each do |bank| %>
    <%= render bank %>
    <p>
      <%= link_to I18n.t("bank.index.show"), bank %>
    </p>
  <% end %>
</div>

<%= link_to I18n.t("bank.index.new"), new_bank_path %>
