<%= form_with(model: supplier) do |f| %>
  <% debugger %>
  <% if supplier.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(supplier.errors.count, "error")  %> <%= I18n.t("bank.error_save") %> </h2>

      <ul>
        <% supplier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :nombre, style: "display: block" %>
  <%= f.text_field :name %>
  <span class="flex items-center font-medium tracking-wide text-red-500 text-xs ml-1 mb-4">
   <% supplier.errors[:name].any? ? @profile.errors[:name].to_s[/\w([^"]*)/] : "" %>
    </span>
  <%= f.label :nit, style: "display: block" %>
  <%= f.text_field :nit %>
  <%= f.label "persona de contacto", style: "display: block" %>
  <%= f.text_field :name_person_contact %>
  <%= f.label "celular persona de contacto", style: "display: block" %>
  <%= f.text_field :phone_person_contact %>
  <%= f.fields_for :accoun, Bank::Accoun.new do |accoun_form| %>
    <%= accoun_form.label "numero de cuenta", style: "display: block" %>
    <%= accoun_form.text_field :number %>
    <%= accoun_form.label "Banco", style: "display: block" %>
    <%= accoun_form.text_field :bank_id %>
  <% end %>
  <%= f.submit "Registrarte", class: " text-sm text-center bg-blue-300 text-white py-1 rounded font-medium" %>

<% end %>