<p style="color: green"><%= notice %></p>

<%= render @supplier %>

<div>
  <%= link_to "Edit this bank", edit_supplier_path(@supplier) %> |
  <%= link_to "Back to banks", supplier_path %>

  <%= button_to "Destroy this bank", @supplier, method: :delete %>
</div>
